body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'Verdana', 'Arial Black';
	line-height: 2em;
}
/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0;
    border-radius: 0;
	background-color: #00171F;
}
.logo {
	padding: 2px;
	height: 50px;
	float: left;
	margin-right: 15px;
}
hr {
	padding: 0px;
	background-color: #003459;
	height: 1px;
}
    
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
	height: 450px
}   
/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #FFFFFF;
    height: 100%;
}
.color {
	width: 20px;
	height: 20px;
	display: block;
	float: right;
	border: solid 1px black;
}
.button-custom {
	background: linear-gradient(#00A8E8, #007EA7);
	border: none;
	border-radius:5px;
	padding: 5px;
	line-height: 1.5em;
	font-weight: 600;
	
}

.button-custom:hover {
	background: linear-gradient(#0097d1, #00759b);
}
.dropbtn {
    background-color: #00A8E8;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #d9d9d9;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #007EA7;}
    /* Set black background color, white text and some padding */
footer {
    background-color: #00171F;
    color: white;
    padding: 15px;
}
    
    /* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
    }
    .row.content {
		height:auto;
	} 
}